<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>state</key>
		<false/>
		<key>name</key>
		<string>图书馆</string>
		<key>y</key>
		<real>30.771025</real>
		<key>x</key>
		<real>103.985729</real>
	</dict>
	<dict>
		<key>name</key>
		<string>升旗台</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.773321</real>
		<key>x</key>
		<real>103.995718</real>
	</dict>
	<dict>
		<key>name</key>
		<string>东门</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.774981</real>
		<key>x</key>
		<real>104.000061</real>
	</dict>
	<dict>
		<key>name</key>
		<string>风洞实验室</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.775152</real>
		<key>x</key>
		<real>103.990113</real>
	</dict>
	<dict>
		<key>name</key>
		<string>校车站</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.772452</real>
		<key>x</key>
		<real>103.988141</real>
	</dict>
	<dict>
		<key>name</key>
		<string>北区篮球场</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.771025</real>
		<key>x</key>
		<real>103.985729</real>
	</dict>
	<dict>
		<key>name</key>
		<string>人体机能实验室</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.76869</real>
		<key>x</key>
		<real>103.987364</real>
	</dict>
	<dict>
		<key>name</key>
		<string>主体育馆东</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.769404</real>
		<key>x</key>
		<real>103.991393</real>
	</dict>
	<dict>
		<key>name</key>
		<string>南区田径场</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.763314</real>
		<key>x</key>
		<real>103.991707</real>
	</dict>
	<dict>
		<key>name</key>
		<string>虹桥</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.767362</real>
		<key>x</key>
		<real>103.992839</real>
	</dict>
	<dict>
		<key>name</key>
		<string>羽网中心</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.766797</real>
		<key>x</key>
		<real>103.996032</real>
	</dict>
	<dict>
		<key>name</key>
		<string>7教学楼</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.768291</real>
		<key>x</key>
		<real>103.998134</real>
	</dict>
	<dict>
		<key>name</key>
		<string>5教学楼</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.770715</real>
		<key>x</key>
		<real>103.996949</real>
	</dict>
	<dict>
		<key>name</key>
		<string>南校门</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.766111</real>
		<key>x</key>
		<real>103.99884</real>
	</dict>
	<dict>
		<key>name</key>
		<string>学生活动中心</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.765339</real>
		<key>x</key>
		<real>103.990072</real>
	</dict>
	<dict>
		<key>name</key>
		<string>银杏大道</string>
		<key>state</key>
		<false/>
		<key>y</key>
		<real>30.768566</real>
		<key>x</key>
		<real>103.989982</real>
	</dict>
</array>
</plist>
