<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 2</key>
	<dict>
		<key>y</key>
		<real>30.771025</real>
		<key>x</key>
		<real>103.985729</real>
	</dict>
</dict>
</plist>
